@import "../../../../styles/styles.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include padding-inline;
  gap: 16px;
  @include gap-btw-blocks;
}

.header {
  padding-bottom: 16px;
  text-align: center;

  @include on-tablet {
    text-align: left;
  }

  @include on-desktop {
    padding-bottom: 32px;
  }

  
}

.reports_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.report {
  height: 150px;
  border-radius: 24px;
  background-color: $blue;
  color: $yellow;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-decoration: none;
}
